body{
    color: #D2DFD6;
    background-color: #0C3750 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 20%;
    padding-left: 9%;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0C3750 ;
    color: #D2DFD6;
    z-index: 4;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    
}
.navbar ul li{
    padding: 7%;
}
.navbar ul li a{
    
    text-decoration: none;
   
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    color: #D2DFD6;
}
.navbar ul li a:hover{
    color: #EDC02E;
}
.logo{
    text-decoration: none;
    color: #D2DFD6;
    
    font-size: 25px;
    text-transform: uppercase;
    line-height: 25px;
}
.logo span{
    color: #EDC02E;
    margin-left: 50px;
}

.container1{
    margin-top: 190px;
     padding-right: 10%;
    padding-left: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container1 img{
    border-radius: 50%;
    margin-left: 60px;
}
.container1 h2{
    font-size: 25px;
    text-transform: capitalize;
}
.container1 h3{
    font-size: 25px;
    text-align: center;
}
.links a{
   color: #EDC02E;
   display: block;
}

.fa-brands{
    padding-bottom: 30px;
    margin-top: 40px;
    margin-right: 60px;
    font-size: 40px;
    transition: transform 2s;
}
.fa-brands:hover{
    opacity: 0.5;
    transform: rotate(180deg)
}
.txt{
    margin-right: 40px;
}
button {
    background-color: #4CAF50;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
    border: none;
     padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
button a{
      text-decoration: none;
      color: #D2DFD6;
      font-size: 15px;
  }
.about{
    margin-top: 100px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}  
.about h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    opacity: 0.5;
}
.about p{
    text-align: center;
    line-height: 30px;
    color: #D2DFD6;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content3{
    margin-top: 100px;
}
.content3 h2{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 25px;
    opacity: 0.5;
}
.content3 h1{
    padding-bottom: 20px;
    font-size: 25px;
    color: #359655;
}
.box{
    background-color: #072F46;
    border-radius: 5px;
    padding-bottom: 90px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    width: 200px;
    height: 160px;
}
.projects{
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.projects h2{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 25px;
    opacity: 0.5;
}
.contenue{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.contenue-box{
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}
.contenue-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(3, 31, 75, 0.7);
}
.overlay h2{
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}
.overlay p{
    font-size: 20px;
}
.contenue-box:hover .overlay{
    top: 0;
    transition: 0.3s all ease;
}
.container4{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.container4 h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    opacity: 0.5;;
}
.box2 p{
    text-align: justify;
}
.box2 h3{
   text-transform: capitalize;
   font-size: 20px;
   text-align: justify;
}
.fa-solid{
    font-size: 25px;
    color: #4CAF50;
}
footer{
    background-color: #D2DFD6;
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
/*menu icon----------------------------------*/
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
    
}
.menu-icon div{
    display: block;
    background: #D2DFD6;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}
.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

/*responsive----------------------------------*/
@media (max-width:1069px){
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-right: 16%;
        padding-left: 8%;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        z-index: 4;
    }
    .logo{
        text-decoration: none;
        margin-top: 15px;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 20px;
    }
    .logo span{
        color: #EDC02E;
        margin-left: 50px;
    }
    .navbar ul li{
        padding: 4%;
    }
    .navbar ul li a{
         text-decoration: none;
         font-size: 20px;
        cursor: pointer;
        text-transform: capitalize;
    }
    .container1{
        display: flex;
    }
    .txt{
        text-align: center;
    }
    .container1 h2{
        
        font-size: 20px;
        text-transform: capitalize;
    }
    .container1 h3{
       
        font-size: 20px;
    }
   
    .fa-brands{
        padding-bottom: 25px;
        margin-top: 30px;
        font-size: 40px;
        transition: transform 2s;
    }
    button {
        background-color: #4CAF50;
        cursor: pointer;
        border: none;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        margin-right: 40px;
      }
    .about p{
        text-align: center;
        line-height: 25px;
    } 
    .box{
        background-color: #072F46;
        border-radius: 5px;
        padding-bottom: 90px;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        width: 180px;
        height: 150px;
    } 
}
@media (max-width:993px){
   
    .container1 img{
        border-radius: 50%;
        margin-left: 15px;
        width: 250px;
        height: 250px;
    }
    .txt{
        text-align: center;
    }
    .container1 h2{
        font-weight: bold;
        font-size: 22px;
        text-transform: capitalize;
    }
    .container1 h3{
        font-weight: bold;
        font-size: 20px;
    }
   
    .fa-brands{
        padding-bottom: 25px;
        margin-top: 25px;
        font-size: 30px;
        transition: transform 2s;
    }
    button {
        padding: 10px 10px;
        margin-right: 40px;
      }
      button a{
        font-size: 15px;
    }  
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .box{
        margin-left: 25px;
        background-color: #072F46;
    }
    .contenue{
        display: block;
    }
    .contenue-box{
        padding-bottom: 20px;
    }
    .contenue-box img{
        width: 100%;
        height: 100%;
    }    
}
@media (max-width:797px){
    .menu-icon{
        display: flex;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        background: #0C3750;
         width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .navbar ul{
        margin: 1rem 0;
        display: block;
        
    }
    .navbar ul li{
        padding-bottom: 30px;
    }
    .open-menu{
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    header{
        padding-top: 0.9rem;
        padding-bottom: 0.1rem;
        padding-right: 10%;
        padding-left: 9%;
    }
    .contenue{
        display: block;
    }
    .contenue-box{
        padding-bottom: 20px;
    }
   
    .container1{
        margin-top: 120px;
        padding-right: 10%;
        padding-left: 6%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    } /*
    .container1 img{
        border-radius: 50%;
        margin-left: 30px;
    }
    .container1 h2{
        font-size: 25px;
        text-transform: capitalize;
    }
    .container1 h3{
        font-size: 25px;
        text-align: center;
    } */
    .links a{
        color: #EDC02E;
        display: inline-block;
     }
    
    .fa-brands{
        padding-bottom: 10px;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 35;
        transition: transform 2s;
        
    } /*
    button {
        margin-left: 55px;
        margin-top: 20px;
        border: none;
        padding: 12px 12px;
      }
    button a{
          font-size: 15px;
      } */
      .about{
        margin-top: 60px;
    }
    .content3{
        margin-top: 60px;
    } 
    .projects{
        margin-top: 60px;
    }
    .container4{
        margin-top: 60px;
    }
    .contact{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    } 
}
@media (max-width:706px){
    .box{
        background-color: #072F46;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        width: 300px;
        height: 160px;
        margin-left: 20px;
    }
    .box img{
        width: 40px;
        height: 40px;
    }
    .container1 img{
        border-radius: 60%;
        margin-left: 30px;
    }
    
}
@media (max-width:710px){
   /* .container1{
        margin-top: 120px;
         padding-right: 10%;
        padding-left: 6%;
        display: block;
    }
    .container1 img{
        border-radius: 60%;
        margin-left: 100px;
    }
    .txt{
        text-align: center;
    } */
    .skills{
        display: block;
    }
    .box{
        border-radius: 5px;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 70px;
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
        margin-left: 200px;
    }
    .box img{
        width: 40px;
        height: 40px;
    } 
}
@media (max-width:680px){
    .container1 img{
        margin-left: 20px;
    }
    
}
@media (max-width:645px){
    .container1 img{
        margin-left: 10px;
    }
    .txt{
        margin-left: 20px;
    }
    .box{
        border-radius: 5px;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 70px;
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
        margin-left: 150px;
    } 
}
@media (max-width:638px){
    .container1 img{
        margin-left: 2px;
    }
    .txt{
        margin-left: 10px;
    }
}
@media (max-width:615px){
    .container1 img{
        margin-left: 2px;
    }
    .txt{
        margin-left: 2px;
    }
}
@media (max-width:606px){
    .container1 img{
        margin-left: 0px;
    }
    .txt{
        margin-left: 0px;
    }
}
@media (max-width:601px){
    button {
        /*margin-left: 55px;
        margin-top: 20px;*/
        border: none;
        padding: 12px 12px;
      }
    button a{
          font-size: 11px;
      }
      .box{
        border-radius: 5px;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 70px;
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
        margin-left: 100px;
    }  
}
@media (max-width:548px){
    .container1{
        margin-top: 120px;
        padding-right: 10%;
        padding-left: 6%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container1 img{
        margin-left: 100px;
    }
}
@media (max-width:510px){
    
    .container1 img{
        margin-left: 80px;
    }
    .box{
        border-radius: 5px;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 70px;
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
        margin-left: 80px;
    }  
}
@media (max-width:472px){
    .container1{
        margin-top: 120px;
        padding-right: 10%;
        padding-left: 6%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container1 img{
        margin-left: 60px;
    }
    .box{
        border-radius: 5px;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 70px;
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
        margin-left: 60px;
    }
    .contact{
        display: block;
    }
    .box2{
        text-align: center;
    }
    .box2 h3{
        text-align: center;
    }
    .box2 p{
        text-align: center;
    }
}
@media (max-width:470px){
    
    .box{
        padding-bottom: 40px;
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
        width: 160px;
        height: 160px;
        
    }
    .skills{
        margin-right: 50px;
    }
    .contact{
        display: block;
    }
    .box{
        padding-bottom: 50px;
        padding-top: 20px;
        padding-left: 70px;
        padding-right: 70px;
        width: 160px;
        height: 160px;
        margin-bottom: 20px;
        margin-left: 70px;
    }
}
@media (max-width:410px){
    .container1 img{
        margin-left: 50px;
    }
    .txt{
        margin-left: 30px;
    }
      .box{
        padding-bottom: 50px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        width: 160px;
        height: 170px;
        margin-bottom: 20px;
        margin-left: 75px;
    } 
}
@media (max-width:408px){
   
    .box{
        padding-bottom: 50px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        width: 160px;
        height: 170px;
        margin-bottom: 20px;
        margin-left: 75px;
    }
   
}
@media (max-width:370px){
    .container1 img{
        margin-left: 30px;
    }
}
@media (max-width:356px){
   
    .box{
        padding-bottom: 40px;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        width: 160px;
        height: 170px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
  
}
@media (max-width:344px){
    .container1 img{
        margin-left: 20px;
    }
      .box{
        padding-bottom: 40px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        width: 160px;
        height: 170px;
        margin-bottom: 20px;
        margin-left: 40px;
    }  
}
